/* Styles for larger screens */
nav ul {
    justify-content: center;
    flex-direction: row;
}

main {
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

figure {
    text-align: left;
}

footer {
    font-size: 0.9rem;
}